
@{
    ViewBag.Title = "Configure";
}

<h2>Configure</h2>

<div class="font-semibold font-title">Select LeaderBoard Options</div>
<p>
    <div>
        <label for="tabChoice">Select the option you would like to see: </label>
        <select id="tabChoice" name="tabChoice">
            <option value="" selected="selected">(Select an opiton)</option>
            <option value="first">Team Leaderboard</option>
            <option value="second">Individual Leaderboard</option>
        </select>
    </div>
</p>