@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">


    <form>
        <div class="form-group">

            <div class="radio">
                <label><input type="radio" name="teamLearderBoard">Team LeaderBoard</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="individualLeaderBoard">Individual LearderBoard</label>
            </div>
        </div>
    </form>


</div>



<script src="https://statics.teams.microsoft.com/sdk/v1.0/js/MicrosoftTeams.min.js"></script>

<script type="text/javascript">

    microsoftTeams.initialize();
    microsoftTeams.settings.registerOnSaveHandler(function (saveEvent) {

        var teamLearderBoardRadio = document.getElementsByName("teamLearderBoard");
        var individualLeaderBoardRadio = document.getElementsByName("individualLeaderBoard");

        if (teamLearderBoardRadio.checked) {
            var teamLearderBoardRadio = document.getElementsByName("teamLearderBoard");
            console.log("")
        }
        if (individualLeaderBoardRadio.checked) {
            console.log("individualLeaderBoard");
        }

        saveEvent.notifySuccess();
    });

    function onClick() {
        microsoftTeams.settings.setValidityState(true);
    }

</script>



