<div class="font-semibold font-title">Configure your app here</div>
<p>
    <div>
        <label for="tabChoice">Select the Leaderboard you would like to see: </label>
        <select id="tabChoice" name="tabChoice">
            <option value="" selected="selected">(Select a Leaderboard)</option>
            <option value="team">Team</option>
            <option value="individual">Individual</option>
        </select>
    </div>
</p>
